* {
	margin: 0;
	padding: 0;
}

:root {
	--blue-dark: hsl(218, 44%, 22%);
	--blue-gray: hsl(220, 15%, 55%);
	--gray-light: hsl(212, 45%, 89%);
	--color-white: hsl(0, 0%, 100%);

	--font-size: 15px;
	--font-weight-regular: 400;
	--font-weight-bold: 700;
	--font-family: 'Outfit', sans-serif;

	--layout-desktop: 1440px;
	--layout-mobile: 375px;
}

body {
	background-color: var(--gray-light);
	font-family: var(--font-family);
	font-size: var(--font-size);
}

body,
main {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.qr-card {
	width: 85%;
	background-color: var(--color-white);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	min-width: 250px;
	max-width: 318.75px;
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.card-img {
	border-radius: 10px;
	height: auto;
}

.card-img img {
	max-width: 100%;
	border-radius: 10px;
}

.card-body {
	padding: 1.6em 2em 2.5em;
	font-size: var(--font-size);
	text-align: center;
}

.card-body h1 {
	color: var(--blue-dark);
	font-size: 1.4rem;
	font-weight: var(--font-weight-bold);
	margin-bottom: 18px;
}

.card-body p {
	font-weight: var(--font-weight-regular);
	color: var(--blue-gray)
}